<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:node="replace"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DialogStyle">>
        <activity
            android:name="com.pitchedapps.material.glass.free.SubstratumLauncher">
            <intent-filter>
                <action android:name="projekt.substratum.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="Substratum_Legacy"
            android:value="true" />
        <meta-data
            android:name="Substratum_Name"
            android:value="@string/ThemeName" />
        <meta-data
            android:name="Substratum_Author"
            android:value="@string/ThemeAuthor" />
        <meta-data
            android:name="Substratum_Email"
            android:value="@string/ThemeEmail" />
        <meta-data
            android:name="Substratum_ThemeReady"
            android:value="@string/ThemeType" />

        <!-- SUBSTRATUM INTERNAL USE: DO NOT TOUCH -->
        <meta-data
            android:name="Substratum_Plugin"
            android:value="@string/ThemePlugin" />
    </application>

</manifest>
