<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pitchedapps.cmtest">

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="false" />

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/theme_name" />
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/theme_author" />
    <meta-data
        android:name="org.cyanogenmod.theme.email"
        android:value="@string/email_id" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>
