<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pitchedapps.material.glass.layer.test">

    <!-- This will set the Icon, Target package to overlay & priority for this apk -->
    <!--<application android:icon="@drawable/aaa" />-->
    <overlay android:targetPackage="com.android.apps.tag" android:priority="99" />

    <!-- This tells the layers application about this theme apk -->
    <meta-data android:name="rom" android:value="Material_Glass" />
    <meta-data android:name="infoShort" android:value="Glass SystemUI" />
    <meta-data android:name="infoLong" android:value="Glass SystemUI" />
    <meta-data android:name="author" android:value="Pitched Apps" />
</manifest>