<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pitchedapps.material.glass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ThemeName"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        tools:node="replace">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubstratumLauncherCore"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="projekt.substratum.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="projekt.substratum.GET_KEYS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="Substratum_Legacy"
            android:value="@bool/ThemeSupportLegacy" />
        <meta-data
            android:name="Substratum_Name"
            android:value="@string/ThemeName" />
        <meta-data
            android:name="Substratum_Author"
            android:value="@string/ThemeAuthor" />
        <meta-data
            android:name="Substratum_Email"
            android:value="@string/ThemeAuthorEmail" />
        <meta-data
            android:name="Substratum_Samsung"
            android:value="@bool/ThemeSupportSamsung" />
        <meta-data
            android:name="Substratum_ThemeReady"
            android:value="@string/ThemeReadyRequirement" />
        <!--<meta-data-->
        <!--android:name="Substratum_Wallpapers"-->
        <!--android:value="@string/ThemeWallpaperSource"/>-->

        <!-- SUBSTRATUM INTERNAL USE: DO NOT TOUCH -->
        <meta-data
            android:name="Substratum_Plugin"
            android:value="10.0.1" />
        <!--<meta-data-->
        <!--android:name="Substratum_Encryption"-->
        <!--android:value="@string/encryption_status"/>-->
        <!--<meta-data-->
        <!--android:name="supports_third_party_theme_systems"-->
        <!--android:value="@bool/SUPPORTS_THIRD_PARTY_THEME_SYSTEMS" />-->
    </application>


</manifest>
